.DS_Store
.pyc
__pycache__/
*.py[cod]
*$py.class
venv/
devisu/
devisu_env/

### VisualStudioCode ###
.vscode/*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

### JetBrains+all Patch ###
# Ignore everything but code style settings and run configurations
# that are supposed to be shared within teams.
.idea/*

# prevent images taken by the camera from being added to the repository:
*.jpg
*.jpeg